@charset "UTF-8";

@font-face {
  font-family: "Roboto-Black";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #fff;
  z-index: 10;
}

.header-top__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: calc(0.4vw + 0.4rem);
  padding-bottom: calc(0.4vw + 0.4rem);
}

.header-top__row svg {
  fill: #000;
  stroke: #000;
  stroke-width: 2;
  width: 30px;
  height: 30px;
}

.header-top__row a {
  padding: 5px;
  margin: 0 1vw;
}

.header-top__row span {
  width: 2px !important;
}

.header-top__row:after {
  position: absolute;
  content: '';
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #C4C4C4;
}

.header-bottom__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-bottom__row a {
  padding: calc(0.9vw + 1.7rem);
  text-transform: uppercase;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}

html,
body {
  font-size: 10px !important;
}

h3 {
  font-size: 28px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: calc(0.8vw + 0.5rem);
}

p {
  font-size: 16px;
}

p1 {
  font-size: 18px;
}

.container-v {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0px 20px;
}

.main__full-screen {
  margin-bottom: 70px;
}

.main__full-screen img {
  position: relative;
  z-index: 1;
  top: 14vh;
  left: 0px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: relative;
  background: #f8f8f8;
}

.phone-call,
.media-imagine {
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  z-index: 10;
}

.phone-call svg,
.media-imagine svg {
  width: 70px;
  height: 70px;
}

.phone-call {
  left: 70px;
}

.media-imagine {
  right: 70px;
}

.main-pangolin {
  padding: 70px 0px 80px 0px;
}

.pangolin-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 310px;
  font-weight: 700;
}

.pangolin-row__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 830px;
}

.title h3 {
  font-family: 'Roboto-Black';
  letter-spacing: -1px;
}

.subtitle {
  font-family: 'Roboto-Bold';
  font-size: 12px;
  color: #006363;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.pangolin-description {
  margin-bottom: 10px;
  line-height: 21px;
  font-weight: 400;
}

.pagolin-button__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-button {
  font-size: 1.6em;
  padding: 0.75em 1.88em;
  border: 1px solid black;
  background-color: white;
  font-weight: 700;
}

.pangolin-button__text {
  margin-left: 30px;
  line-height: 18px;
  font-family: "Roboto-Bold";
  letter-spacing: -1px;
  text-transform: uppercase;
}

.pangolin-button__text span {
  color: #006363;
}

.catalog__row,
.catalog__row_reverse,
.catalog__row_right_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catalog__row,
.catalog__item_top {
  margin-bottom: 24px;
}

.all-catalogs {
  padding: 10px 0px 30px 0px;
}

.catalog__row_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__row .catalog__item-big,
.catalog__row .catalog__item_bottom-left {
  margin-right: 30px;
}

.catalog__row_reverse .catalog__item-big,
.catalog__row_reverse .catalog__item_bottom-right {
  margin-left: 30px;
}

.catalog__item_top {
  width: 100%;
}

.catalog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__item img {
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
}

.catalog__item img:hover {
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.catalog__item h2 {
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
}

.catalog-decription {
  text-align: center;
}

.catalog-decription p1 {
  color: #606060;
}

.news {
  padding: 100px 0px;
}

.news .container-v {
  max-width: 1580px;
  padding: 0 20px;
}

.news-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.news-head .title h3 {
  font-family: "Roboto-Regular";
  font-weight: 400;
}

.news-head .subtitle {
  margin-bottom: 0px;
  font-family: "Roboto-Regular";
  text-transform: none;
}

.news-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__items {
  background-color: black;
  margin-right: 40px;
}

.news__item {
  position: relative;
  width: 100%;
}

.news__item:not(:last-child) {
  margin-right: 50px;
}

.news-imagine {
  position: relative;
}

.news-imagine img {
  width: 100%;
}

.date {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  color: white;
  padding: 3px 40px;
  background-color: #006363;
}

.news-decription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.875);
      -ms-transform: scale(0.875);
          transform: scale(0.875);
  margin-top: -30px;
  background-color: white;
  width: 100%;
  padding: 25px 35px;
  text-align: center;
  height: 180px;
  border: 1px solid #DADADA;
}

.news-description__title {
  font-size: 20px;
  font-family: "Roboto-Bold";
  max-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.news-description__text {
  font-size: 16px;
}

.email {
  background: url("../img/message-back.png");
  background-size: cover;
  background-position: center;
}

.input-title {
  font-size: 30px;
  line-height: 35px;
}

.input-subtitle {
  font-size: 18px;
}

input#radio4 {
  display: none;
}

input#radio4:checked + label:after {
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
}

label {
  cursor: pointer;
  padding-left: calc(0.3vw + 2.5rem);
  display: inline-block;
  position: relative;
}

label #agree {
  color: #099D9D;
}

label #agree:hover {
  text-decoration: underline;
}

label:before {
  width: 20px;
  height: 20px;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  background: #C4C4C4;
  margin-top: -10px;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}

label:after {
  background: #099D9D;
  left: 0;
  top: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(3.4);
      -ms-transform: scale(3.4);
          transform: scale(3.4);
  opacity: 0;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  content: '';
  position: absolute;
  left: 3px;
}

@media (max-width: 1920px) {
  h3 {
    font-size: calc(18px + 10*(100vw/1920));
  }

  h2 {
    font-size: calc(0px + 32*(100vw/1920));
  }

  p {
    font-size: calc(0.5vw + 0.8rem);
  }

  p1 {
    font-size: calc(12px + 6*(100vw/1920));
  }

  .content {
    padding: 0 calc(25px + 115*(100vw/1920));
  }

  .phone-call svg,
  .media-imagine svg {
    width: calc(30px + 40*(100vw/1920));
    height: calc(30px + 40*(100vw/1920));
  }

  .phone-call {
    left: calc(20px + 50*(100vw/1920));
  }

  .media-imagine {
    right: calc(20px + 50*(100vw/1920));
  }

  .main-button {
    font-size: calc(1em + 6*(100vw/1920));
  }

  .catalog__row,
  .catalog__item_top {
    margin-bottom: calc(8px + 14*(100vw/1920));
  }

  .catalog__row .catalog__item-big,
  .catalog__row .catalog__item_bottom-left {
    margin-right: calc(10px + 20*(100vw/1920));
  }

  .catalog__row_reverse .catalog__item-big,
  .catalog__row_reverse .catalog__item_bottom-right {
    margin-left: calc(10px + 20*(100vw/1920));
  }

  .news__item:not(:last-child) {
    margin-right: calc(10px + 40 * (100vw/1920));
  }
}

@media (max-width: 1600px) {
  h4 {
    font-size: calc(0.7vw + 0.7rem);
  }
}

@media (max-width: 1220px) {
  .pangolin-row {
    max-height: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .pagolin-button__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pangolin-button__text {
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .pangolin-row__imagine {
    margin-left: -20px;
    margin-bottom: 30px;
  }

  .pangolin-row__imagine img {
    width: 100%;
  }

  .news-decription {
    height: auto;
    padding: 15px;
  }

  .news-description__text {
    display: none;
  }
}

@media (max-width: 1024px) {
  .news-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__item {
    margin-right: 0px;
  }

  .news__item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .news-description__title {
    width: 100%;
  }
}

@media (max-width: 1024) {
  .news__items {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  p1 {
    font-size: calc(12px + 9.6*(100vw/768));
  }

  .content {
    padding: 0px;
  }

  .phone-call,
  .media-imagine {
    display: none;
  }

  .main-pangolin {
    padding: 50px 0px 40px 0px;
  }

  .title h3 {
    margin-bottom: 5px;
  }

  .main-button {
    font-size: calc(1em + 9.6*(100vw/768));
  }

  .pangolin-row__imagine {
    display: none;
  }
}

@media (max-width: 640px) {
  h2 {
    font-size: 16px;
  }

  h4 {
    font-size: calc(0.5vw + 0.8rem);
  }

  .catalog__row,
  .catalog__row_reverse,
  .catalog__row_right_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .catalog__row,
  .catalog__item_top {
    margin-bottom: 0px;
  }

  .all-catalogs {
    padding: 10px 45px 15px 45px;
  }

  .catalog__row .catalog__item-big,
  .catalog__row .catalog__item_bottom-left {
    margin-right: 0px;
  }

  .catalog__row_reverse .catalog__item-big,
  .catalog__row_reverse .catalog__item_bottom-right {
    margin-left: 0px;
  }

  .catalog__item-big,
  .catalog__item_bottom-left,
  .catalog__item_top,
  .catalog__item_bottom-right {
    min-width: calc(70px + 283*(100vw/640));
    background-size: cover;
  }

  .catalog__row .catalog__item-big {
    background-image: url("../img/rubbish.png");
  }

  .catalog__row .catalog__item_top {
    background-image: url("../img/wheels.png");
  }

  .catalog__row .catalog__item_bottom-left {
    background-image: url("../img/boxes.png");
  }

  .catalog__row .catalog__item_bottom-right {
    background-image: url("../img/cut-elements.png");
  }

  .catalog__row_reverse .catalog__item-big {
    background-image: url("../img/gidra.png");
  }

  .catalog__row_reverse .catalog__item_top {
    background-image: url("../img/megarihlitel.png");
  }

  .catalog__row_reverse .catalog__item_bottom-left {
    background-image: url("../img/ladle.png");
  }

  .catalog__row_reverse .catalog__item_bottom-right {
    background-image: url("../img/equipment.png");
  }

  .catalog__item {
    text-align: center;
    min-height: 140px;
    max-width: 353px;
    margin-bottom: 15px;
  }

  .catalog__item img {
    display: none;
  }

  .catalog-decription p1 {
    font-size: 16px;
  }

  .news {
    padding: 40px 0px;
  }

  .news-head {
    margin-bottom: 25px;
  }

  .news-head .title h3 {
    font-size: 22px;
  }

  .news-head .subtitle {
    font-size: 14px;
  }

  .news-items {
    padding: 0 45px;
  }

  .date {
    padding: 3px 20px;
    top: 10px;
    left: 10px;
  }
}
@supports (-webkit-appearance:none){
.email{background:url("../img/message-back.webp")}
}

 @media (max-width: 1920px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1220px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 640px){

@supports (-webkit-appearance:none){
.catalog__row .catalog__item-big{background-image:url("../img/rubbish.webp")}
.catalog__row .catalog__item_top{background-image:url("../img/wheels.webp")}
.catalog__row .catalog__item_bottom-left{background-image:url("../img/boxes.webp")}
.catalog__row .catalog__item_bottom-right{background-image:url("../img/cut-elements.webp")}
.catalog__row_reverse .catalog__item-big{background-image:url("../img/gidra.webp")}
.catalog__row_reverse .catalog__item_top{background-image:url("../img/megarihlitel.webp")}
.catalog__row_reverse .catalog__item_bottom-left{background-image:url("../img/ladle.webp")}
.catalog__row_reverse .catalog__item_bottom-right{background-image:url("../img/equipment.webp")}
}

}
